* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
    background-image: linear-gradient(90deg, #00c6fb 0%, #005bea 100%);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__lista {
    list-style: none;
    padding: 0;

    display: flex;

    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-right: 100px;
}

.nav__links {
    text-decoration: none;
    color: #fff;
    font-family: 'Anton', sans-serif;
}


.nav_eleboton {

    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #1B6EEE;
    transition: all 0.5s ease;
}

.nav_eleboton:hover {
    box-shadow: 10px 10px #233376;
    cursor: pointer;

}

.nav__logo {
    margin-left: 60px;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.Conten {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.contenedor-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8rem;
    position: absolute;
      
}

.contenedor {
    max-width: 1100px;
    margin: 0;
    width: 95%;
  
}

.item h1 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: #fff;
}

.item p {
    font-size: 16px;
    color: #fff;
    font-family: 'Lato', sans-serif;

    line-height: 2rem 0;
    margin: 2rem 0;
}

.item button {
    width: 10rem;
    height: 3rem;
    background: transparent;
    text-transform: uppercase;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    transition: all 0.5s ease;
}

.item button:hover {
    box-shadow: 10px 10px #0394F3;
    background-color: #fff;
    color: #000;
}

.item:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

img {
    max-width: 100%;
}

.footer_lista {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    text-decoration: none;
    font-size: 20px;
    list-style: none;
    padding: 0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    flex-wrap: wrap;
}


.abrir, 
.cerrar {
    display: none;
}

@media screen and (max-width: 800px) {
    .abrir,.cerrar {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir{
     color: #000;
    }
    .cerrar{
        color: #fff;
    }
    .item{
        grid-column: 1/-1;
     }
 
    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: #0095F3;
        z-index: 1;
       padding: 2rem;
       box-shadow:  0 0  0 100vamx rgba(0, 0 , 0 ,  .5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav__lista{
        flex-direction: column;
        margin-right: 0;
        align-items: end;
        gap:30px;
    }

    .contenedor-main{
        gap: 2rem;
     }
}